#content {
	width: 100%;
	text-align: center;
}

body, div, canvas {
    margin: 0;
	padding: 0;
	overflow:hidden;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}